@{
}

@model Book
<!-- This is an example of how you can pull data from the model. Look at "pulling data" video at 5:00 -->
<div class="bg-light card card-outline-primary m-1 p-1">
    <h3>
        @Model.Title
        <span style="float: right;" class="badge bg-info" @*border: solid black 1px; border-radius: 10px; background-color: #1E90FF; "*@>
            <small>$@Model.Price</small>
        </span>
    </h3>

    <div class="card-text p-1">Author: @Model.Author</div>  @*You use Model. instead of b. because it’s pulling directly from the models*@
    <div class="card-text p-1">Publisher: @Model.Publisher</div>
    <div class="card-text p-1">ISBN: @Model.Isbn</div>
    <div class="card-text p-1">Classification: @Model.Classification</div>
    <div class="card-text p-1">Category: @Model.Category</div>

    <form method="post" asp-page="/BuyBooks">
        @*asp-page enables the button to take us to the Razor Page we just set up*@
        <input type="hidden" asp-for="@Model.BookId" /> @*Now razor page will load specific book based on bookId*@
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>
    </form>

</div>
